[Desktop Entry]
Name=ZenTrack
GenericName=Ultra-Low Latency Trackpad & Gamepad
Comment=Control táctil, teclado 65% y gamepad de ultra-baja latencia (500Hz) para tu PC
Exec=zentrack tray
Icon=zentrack
Terminal=false
Type=Application
Categories=Utility;HardwareSettings;Game;
StartupNotify=false
Keywords=mouse;trackpad;touchpad;gamepad;controller;keyboard;remote;


